body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.invisible-text {
    display: none;
}
header, footer {
    background-color: #f2f2f2;
    padding: 1px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout:inherit;
    margin-top: 20px;
    cursor: pointer;
    color: rgb(14, 8, 8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    float: left;
    white-space: pre;
}




#quarter {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button-container:hover button {
    background-color: #ffcc00; /* Change background color on hover */
    color: #333; /* Change text color on hover */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

